<nav class="navbar navbar-expand-lg bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="/">錢部記下來</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <form class="d-flex" role="search">
        <button class="btn btn-warning" type="submit">登出</button>
      </form>
    </div>
  </div>
</nav>
<div>
  <div class="my-5 w-50 mx-auto">
    <div style="display: flex" class="my-5">
      <p>*必填單位</p>
      <p class="ms-5">請輸入您的支出</p>
    </div>
    <form action="/expense/new/add" style="display: block" method="post">
      <div class="my-5">
        <label for="">名稱* :</label>
        <input type="text" name="name" id="name" class="ms-5 w-75" required>
      </div>
      <div class="my-5">
        <label for="">日期* :</label>
        <input type="date" name="date" id="date" class="ms-5 w-75" required>
      </div>
      <div class="my-5" style="display: flex">
        <label for="">類別* :</label>
        <select class="form-select ms-5 w-75" aria-label="Default select example" required>
          <option selected>請選擇類別</option>
          <option value="home">家居樂業</option>
          <option value="communication">交通出行</option>
          <option value="entertain">休閒娛樂</option>
          <option value="food">餐飲食品</option>
        </select>
      </div>
      <div class="my-5">
        <label for="">金額* :</label>
        <input type="text" name="amount" id="amount" class="ms-5 w-75" required>
      </div>
      <button type="submit" class="btn btn-warning">新增支出</button>
    </form>

  </div>
</div>